src/main/mule/git-test1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="git-test1Flow" doc:id="a3ae56bc-4e8a-4895-b8d1-66026b261df9" >
		<logger level="INFO" doc:name="Logger" doc:id="22422754-527b-4cb6-9b99-6c8a501a11e7" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="fd5721f2-7752-4c4f-82a1-ae7546e65ec1" />
	</flow>
</mule>
